
.affiliate-link-container {
    margin-top: 30px;
    font-size: 1em;
}

.affiliate-link-container a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.affiliate-link-container a:hover {
    color: var(--header-color);
    text-decoration: underline;
}
